# Quantidade de Semi-Acabado seco

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sec2=pd.read_csv('sec2.csv')
sec3=pd.read_csv('sec3.csv')
sec4=pd.read_csv('sec4.csv')
sec6=pd.read_csv('sec6.csv')

In [3]:
sec2.columns

Index(['Data/Hora', 'Produto', 'SEC 2 - Ar Desumidificado (C)',
       'SEC 2 - BO-02 (%)', 'SEC 2 - Câmara de Secagem (mmca)',
       'SEC 2 - Delta P Filtro Cesto (mmca)',
       'SEC 2 - Densidade TQ Origem (g/l)',
       'SEC 2 - Duto do LF02 para CL02 (C)', 'SEC 2 - Malha do filtro',
       'SEC 2 - LF-01(Pó) (C)', 'SEC 2 - LF-01(Tela) (C)', 'SEC 2 - Lote',
       'SEC 2 - Lote TQ Origem', 'SEC 2 - Massa Seca TQ Origem (%)',
       'SEC 2 - Massa Seca TQ Origem (auxiliar) (%)',
       'SEC 2 - Peso TQ Origem (kg)', 'SEC 2 - Peso TQ Origem (em MS) (%)',
       'SEC 2 - Pressão da Linha de Alimentação (bar)',
       'SEC 2 - Pressão Delta P CL-01 (mmca)',
       'SEC 2 - Pressão Delta P CL-02 (mmca)', 'SEC 2 - Pressão LF-01 (mmca)',
       'SEC 2 - Pressão LF-02 (mmca)', 'SEC 2 - Pressão VE-01 (mmca)',
       'SEC 2 - Pressão VE-04 (mmca)', 'SEC 2 - Rotação VE-01 (%)',
       'SEC 2 - Rotação VE-02 (%)', 'SEC 2 - Rotação VE-04 (%)',
       'SEC 2 - Rotação VE-05 (%)', 'SEC 2 - Rotação VE-06 (%)',
       'SEC 2 - Rotação VE-07 (%)', 'SEC 2 - Saída Câmara (C)',
       'SEC 2 - Saída do Envase(Pó) (C)', 'SEC 2 - Soprador RO-01 (mmca)',
       'SEC 2 - Vazão de Água Evaporada (kg/h)',
       'SEC 2 - Temp. Antes TQ 02 (pasteurização) (C)',
       'SEC 2 - Temp. Após TQ 02 (C)', 'SEC 2 - Temperatura AQ-01 (C)',
       'SEC 2 - Temperatura AQ-02 (C)', 'SEC 2 - Temperatura AQ-03 (C)',
       'SEC 2 - Temperatura AQ-04 (C)', 'SEC 2 - Temperatura AQ-05 (C)',
       'SEC 2 - Temperatura AQ-06 (C)', 'SEC 2 - Temperatura AQ-07 (C)',
       'SEC 2 - Totalizador de Entrada (kg)', 'SEC 2 - TQ Origem',
       'SEC 2 - Vazão de Ar VE-04 (kg/h)', 'SEC 2 - Vazão de Ar VE-05 (kg/h)',
       'SEC 2 - Vazão de Ar VE-06 (kg/h)', 'SEC 2 - Vazão de Entrada (kg/h)',
       'SEC 2 - VE-08 (mmca)', 'SEC 2 - Volume TQ Origem (m3)',
       'SEC 2 - XV-70 Aberta (s)', 'SEC 2 - XV-70 Intervalo (s)',
       'SEC 2 - Processo', 'SEC 2 - Verificação',
       'SEC 2 - Taxa de Evaporação (%)',
       'SEC 2 - Totalizador de Entrada (auxiliar) (kg)',
       'SEC 2 - Monitoramento (peneira)',
       'SEC 2 - Sanitização tq. emerg. foi feita?',
       'SEC 2 - Nivel TQ Origem (g/l)', 'SEC 2 - Nível Óleo BO 02',
       'SEC 2 - Temperatura TQ Origem (C)', 'SEC 2 - Tela da peneira',
       'SEC 2 - Avaliação material retido',
       'SEC 2 - Saída do Envaso(Pó) manual (C)', 'SEC 2 - Monitoramento',
       'SEC 2 - Verificação RO', 'SEC 2 - Totalizador de pó (kg)',
       'SEC 2 - Pressão VE-05 (mmca)', 'SEC 2 - Pressão VE-06 (mmca)',
       'SEC 2 - Umidade Absoluta (g/kg)',
       'SEC 2 - Abertura vv de vapor principal', 'SEC 2 - Bico 1',
       'SEC 2 - Bico 2', 'SEC 2 - Bico 3', 'SEC 2 - Pastilha 1',
       'SEC 2 - Pastilha 2', 'SEC 2 - Pastilha 3',
       'SEC 2 - Bico 1 Do Secador 2 Aberto',
       'SEC 2 - Bico 2 Do Secador 2 Aberto',
       'SEC 2 - Bico 3 Do Secador 2 Aberto',
       'SEC 2 - CV Válvula de Controle de Pressão LF-02 (%)',
       'SEC 3 - Pastilha 5', 'SEC 3 - Pastilha 6',
       'SEC 3 - Bico 1 Do Secador 3 Aberto',
       'SEC 3 - Bico 2 Do Secador 3 Aberto',
       'SEC 3 - Bico 3 Do Secador 3 Aberto',
       'SEC 3 - Bico 4 Do Secador 3 Aberto',
       'SEC 3 - Bico 5 Do Secador 3 Aberto',
       'SEC 3 - Bico 6 Do Secador 3 Aberto',
       'SEC 3 - CV Válvula de Controle de Pressão LF-02 (%)'],
      dtype='object')

In [4]:
pd.set_option('display.max_columns', 100)

In [5]:

sec2['SEC 2 - Massa Seca TQ Origem (%)'] = sec2['SEC 2 - Massa Seca TQ Origem (%)'] / 100

In [6]:
sec2['Produto'] = sec2['SEC 2 - Massa Seca TQ Origem (%)'] * sec2['SEC 2 - Vazão de Entrada (kg/h)']

sec2_agrupado = sec2.groupby('SEC 2 - Lote')['Produto'].sum().reset_index()

print(sec2_agrupado)

       SEC 2 - Lote       Produto
0  Q224064 (155435)    851.295522
1  Q224065 (155607)  11260.414000
2  Q324170 (155609)      0.000000

In [7]:

sec2_agrupado = sec2.groupby(['SEC 2 - Lote', 'SEC 2 - Lote TQ Origem'])['Produto'].sum().reset_index()


sec2_agrupado.reset_index(inplace=True)

print(sec2_agrupado)

   index      SEC 2 - Lote SEC 2 - Lote TQ Origem       Produto
0      0  Q224064 (155435)      24ME0617 (155405)    851.295522
1      1  Q224065 (155607)       24/1362 (155499)  11260.414000
2      2  Q324170 (155609)      24ME0639 (155523)      0.000000

In [8]:
sec2_agrupado

   index      SEC 2 - Lote SEC 2 - Lote TQ Origem       Produto
0      0  Q224064 (155435)      24ME0617 (155405)    851.295522
1      1  Q224065 (155607)       24/1362 (155499)  11260.414000
2      2  Q324170 (155609)      24ME0639 (155523)      0.000000

In [9]:
sec3['SEC 3 - Massa Seca TQ Origem (%)'] = sec3['SEC 3 - Massa Seca TQ Origem (%)'] / 100
sec3['Produto'] = sec3['SEC 3 - Massa Seca TQ Origem (%)'] * sec3['SEC 3 - Vazão de Entrada (kg/h)']

sec3_agrupado = sec3.groupby(['SEC 3 - Lote', 'SEC 3 - Lote TQ Origem'])['Produto'].sum().reset_index()


sec3_agrupado.reset_index(inplace=True)

sec3_agrupado

   index      SEC 3 - Lote SEC 3 - Lote TQ Origem       Produto
0      0  Q324166 (155435)      24ME0617 (155405)   2425.498348
1      1  Q324167 (155588)      24ME0617 (155405)   3611.074740
2      2  Q324168 (155609)      24ME0639 (155523)   4541.343825
3      3  Q324169 (155609)      24ME0639 (155523)  14331.792400
4      4  Q324170 (155609)      24ME0639 (155523)    870.685200

In [10]:
sec4['SEC 4 - Massa Seca TQ Origem (%)'] = sec4['SEC 4 - Massa Seca TQ Origem (%)'] / 100
sec4['Produto'] = sec4['SEC 4 - Massa Seca TQ Origem (%)'] * sec4['SEC 4 - Vazão de Entrada (kg/h)']

sec4_agrupado = sec4.groupby(['SEC 4 - Lote', 'SEC 4 - Lote TQ Origem'])['Produto'].sum().reset_index()


sec4_agrupado.reset_index(inplace=True)

sec4_agrupado

   index      SEC 4 - Lote SEC 4 - Lote TQ Origem       Produto
0      0  Q424181 (155613)      24ME0642 (155526)  13478.285568
1      1  Q424182 (155613)      24ME0642 (155526)   6984.915264
2      2  Q424182 (155613)      24ME0648 (155527)   1165.493223
3      3  Q424183 (155613)      24ME0648 (155527)   1338.137082
4      4  Q424183 (155618)      24ME0648 (155527)  12977.364222
5      5  Q424184 (155609)      24ME0648 (155527)   1808.840664
6      6  Q424185 (155684)      24ME0648 (155527)  14924.972061
7      7  Q424186 (155684)      24ME0648 (155527)   5932.623960
8      8  Q424187 (155743)      24ME0664 (155359)    691.987160

In [11]:
sec6['SEC 6 - Massa Seca TQ Origem (%)'] = sec6['SEC 6 - Massa Seca TQ Origem (%)'] / 100
sec6['Produto'] = sec6['SEC 6 - Massa Seca TQ Origem (%)'] * sec6['SEC 6 - Vazão de Produto (L/h)']

sec6_agrupado = sec6.groupby(['SEC 6 - Lote', 'SEC 6 - Lote TQ Origem'])['Produto'].sum().reset_index()


sec6_agrupado.reset_index(inplace=True)

sec6_agrupado

    index      SEC 6 - Lote SEC 6 - Lote TQ Origem       Produto
0       0  Q624231 (155608)      24ME0651 (155542)  15754.794398
1       1  Q624232 (155608)      24ME0651 (155542)  15459.574284
2       2  Q624233 (155505)      24ME0652 (155440)   3922.502020
3       3  Q624234 (155505)      24ME0652 (155440)  13170.175600
4       4  Q624235 (155505)      24ME0652 (155440)  15099.025340
5       5  Q624236 (155505)      24ME0652 (155440)   1183.679190
6       6  Q624236 (155505)      24ME0653 (155440)  19574.733060
7       7  Q624237 (155615)      24ME0653 (155440)  10770.340530
8       8  Q624238 (155585)      24ME0656 (155681)   3293.103320
9       9  Q624239 (155687)      24ME0656 (155681)  20691.231080
10     10  Q624240 (155688)      24ME0656 (155681)  17913.376840
11     11  Q624241 (155688)      24ME0656 (155681)  22621.164800
12     12  Q624242 (155688)      24ME0657 (155667)   7491.447100

In [12]:
list=[]

In [13]:
list += 'Pyhton'

In [14]:
list

['P', 'y', 'h', 't', 'o', 'n']

In [15]:
s=[]

In [16]:
for i in range(len(list)):
    print(f'{i} : {list[i]}')

0 : P
1 : y
2 : h
3 : t
4 : o
5 : n

In [17]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **=3

In [18]:
values = [1,2,3,4,5,6,7,8,9,10]

In [19]:
cube_list(values)

In [20]:
values

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]